#addVaccines {
    margin: 100px;

}
#vaccinesList {
    position: relative;
    left: 400px;
    margin-left: 70px;
    padding: 5px;
    top: 150px;
}

label {
    padding-left: 100px;

}

#addVaccines input[type='text'] {
    position: relative;
    width: 200px;
    margin: 10px;
    padding: 5px;
    display: block;
    }

.btn {
    margin-left: 70px;
    padding: 10px 20px;
    background: rgb(119, 44, 218);
    border: solid 1px rgb(100, 77, 230);
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}